body{
    
    background-image: url(https://imgix.bustle.com/rehost/2016/9/13/30f40912-ecc4-4518-8413-3adce3ef2807.jpg?w=970&h=546&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70); 
    background-repeat: no-repeat;  
    background-size: cover;
         
}
