.form-control{
background-color:skyblue;
border: solid 3px;
border-color: red;
color: red;

}

.form-group{
    background-color:skyblue;
    border: solid 3px;
    border-color: red;
    color:yellow;
}