footer{
    background-color: gray;
    opacity: 0.9;
    text-align: center;
    color:yellow;
    font-weight: bolder;
    text-shadow: cyan 3px 3px 5px;
    font-size: 30px;
    margin-bottom: -5px;
}