.navbar-brand{
  background-color:blue;
    color: yellow;
    font-size: larger;
    font-weight: bold;
    text-shadow: red 2px 2px 2px;
    
}

.navbar-expand-xl{
    background-color:blue;
    color: yellow;
    font-size: larger;
    font-weight: bold;
    text-shadow: red 2px 2px 2px;
    border: solid yellow 3px;
    box-shadow:red 7px 7px 7px; 
  }

.nav-link{
  color: yellow;
  font-size: larger;
  font-weight: bold;
  text-shadow: red 2px 2px 2px;
}